* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
    margin-block: 1rem;

}

h4 {
    font-size: 25px !important;
}

.inicio p {
    font-weight: 600;
    color: #535461;
}

a {
    color: #fff !important;
    text-decoration: none !important;
}

main {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    text-align: center;
    margin-block: 2rem;
}



/*-------------------------------------------------------------------*/
/*------------------------------ NAVBAR ----------------------------*/
/*-----------------------------------------------------------------*/
nav {
    background-color: #da291c !important;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;


    i {
        color: white;
    }
    
    .navbar-shadow {
        box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.322);
    }

    .navbar-logo {
        height: 3.5rem;
        margin: 0.2rem;
    }

    #navbarNav {
        justify-content: end;
    }

    nav a:hover {
        color: #dddddd !important;
    }
}



/*-------------------------------------------------------------------*/
/*------------------------------- FOOTER ---------------------------*/
/*-----------------------------------------------------------------*/

footer {
    background-color: #333333;
    padding: 50px;
    margin-top: 80px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.footer-logo {
    width: 200px;
    height: 73px;
}

.footer-redes {
    font-size: 30px;
    margin-left: 10px;
}

/*----------------------------------------------------------------------*/
/*-------------------------------- INICIO ------------------------------*/
/*----------------------------------------------------------------------*/

.banner {

    background-image: url(../img/inicio/banner-1336.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    color: #fff;
    height: 100vh;
}

.btn-color {
    background-color: #18608C !important;
    color: #fff !important;
}

.btn-color:hover {
    background-color: #104261 !important;
}


.main-texto {
    display: flex;
    align-items: center;
}


.img {
    height: 400px;

}

.item {
    padding: 90px;
}

/*----------------------------------------------------------------------*/
/*-------------------------------- AYUDA ------------------------------*/
/*--------------------------------------------------------------------*/

.boton-enviar {
    font-weight: 700;
    border-color: #d4d4d4;
    border-radius: 5px;
    text-align: center;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: #da291c;
}


/*----------------------------------------------------------------------*/
/*----------------------------- SERVICIOS -----------------------------*/
/*--------------------------------------------------------------------*/

.cards__servicios i {
    font-size: 1.2rem;
    color: #da291c;
}


.cards__servicios {}

.card__servicios {
    color: #535461;
    text-align: center;
    font-weight: 600;
    width: 30%;
    background-color: #ffffff;
    border-radius: 7px;
    margin-inline: 10px;
    padding: 0px !important;
    border: solid;
    border-color: #da291c;
    box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.75);
}

.card_servicios::shadow {}

.card_servicios p {

    border: solid;
    border-bottom: #da291c;
}


.card__servicios__titulo {
    color: #fff;
    padding: 1rem;
    background-color: #da291c;
}

.card__servicios__subtitulo {
    text-align: center;
    font-size: 20px;
}

.card__servicios__boton {
    color: white;
    font-weight: 600;
    background-color: #da291c;
    border: none;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.card__servicios__imagen,
.card__servicios__titulo,
.card__servicios__parrafo {
    margin-bottom: 15px;
}

/*----------------------------------------------------------------------*/
/*-------------------------------- LOGIN -------------------------------*/
/*----------------------------------------------------------------------*/

.card__login {
    color: #fff;
    background-color: #da291c;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.75);
    gap: 2rem;
}

.card__login form {
    background-color: #fff;
    color: #333333;
    border-radius: 10px;
    padding: 2rem;
}

.btn-login-color {
    background-color: #da291c !important;
    color: #fff !important;
}

/*----------------------------------------------------------------------*/
/*------------------------------ NOSOTROS -----------------------------*/
/*--------------------------------------------------------------------*/

.cards__nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.card__nosotros {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image title title"
        "image cargo cargo"
        "paragraph paragraph paragraph";
    grid-gap: 10px;
    padding: 10px;
}

.card__nosotros__imagen {
    grid-area: image;
    width: 100px;
    border-radius: 50%;
}

.card__nosotros__h4 {
    grid-area: title;
}

.card__nosotros__parrafo {
    grid-area: paragraph;
}

.card__nosotros__cargo {
    grid-area: cargo;
}

@media screen and (max-width: 991px) {
    .navbar-login {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .btn-color {
        background-color: #242F73 !important;
    }
}

@media screen and (max-width: 991px) {
    .card__servicios {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    .cards__nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .cards__nosotros {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .cards__nosotros {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 768px){
    .login_titulo_min_990 {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .login_titulo_max_990 {
        display: none;
    }
}