@media screen and (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-between;


        p {
            text-align: right;
        }
    }
}

@media screen and (max-width: 768px) {
        .redes {
            margin-bottom: 0.4rem;
        }
    }