@media screen and (max-width: 768px) {
    .section {
        
        .text-2 {
            order: 2 !important;
        }

        .img-2 {
            order: 1 !important;
        }

        .section_content {
            text-align: center !important;
            gap: 3rem;
        }
    }


}


@media (max-width: 500px) {
    .btn-color {
        background-color: #242F73 !important;
    }
}
