@media screen and (max-width: 991px) {
    .navbar-logotipo {
        display: none;
    }

    .navbar {
        padding-inline: 0px;
    }

    .navbar-nav {
        text-align: center;
    }

    .nosotros__info {
        .nosotros__info__mision,
        .nosotros__info__vision {
            margin-block: 1rem;
        }
    }
}

@media screen and (min-width: 991px) {
    .navbar-logo {
        padding-left: .2rem;
    }
}