@media screen and (max-width: 991px) {
    .card__servicios {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 991px) {

    .card__servicios {
        text-align: center;
        .card__items {
            grid-template-columns: 1fr !important;
        }
        .card__servicios__precio {
            p {
                font-size: 2rem !important;
            }
        }
    }
}