body {
    background-color: #fff;

    main {
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        margin-top: 78.4px;
    }
    
    .titulo {
        text-align: center;
        margin-block: 8rem 2rem;
    }

    p {
        font-weight: 600 !important;
        color: #535461 !important;
    }

    
}