@import "./variables";

footer {
    background-color: $colorSecundario;
    padding: 2rem;
    margin-top: 80px;
    color: white;
    font-size: 10px;
    text-align: center;
    
    a {
        color: #fff;
    }

    p {
        margin: 0px !important;
    }

    p {
        color: white !important;
    }

    .footer-redes {
        font-size: 30px;
        margin-left: 10px;
    }
}