.banner {
    height: 100vh;
    background: linear-gradient(337deg, rgb(55, 205, 224) 20%, rgba(0, 97, 177, 1) 100%);
    display: flex;
    align-items: center;
    color: #fff;
    gap: 2rem;


    h1 {
        font-weight: 400;
    }


    .btn-color {
        background-color: #18608C !important;
        color: #fff !important;

        &:hover {
            background-color: #104261 !important;
        }
    }

}


.section {
    overflow: hidden;
    .section_content {
        margin-block: 12rem;

        .item {
            padding: 6rem;
        }

        .img {
            height: 400px;

        }

        .main-texto {
            display: flex;
            align-items: center;
        }
    }

}