@import "./variables";

.login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__login {
    display: flex;
    align-items: center;
    color: #fff;
    background: rgb(0, 205, 233);
    background: linear-gradient(140deg, rgba(0, 205, 233, 1) 38%, rgba(0, 95, 173, 1) 100%);
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.301);
    gap: 2rem;

    form {
        background-color: #fff;
        box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.301);
        color: #333333;
        border-radius: 10px;
        padding: 2rem;

        .login__button,
        .register__button {
            margin: .3rem !important;
        }
    }

    .forgot_password_user {
        text-align: center;
        margin-bottom: 1rem;


        a {
            color: #333333 !important;
            margin-inline: 0.2rem;
        }
    }
}