@import "./variables";

.cards__servicios {
    gap: 1rem;
    --bs-gutter-x: 0 !important;

    .card__servicios {
        border-radius: 7px;
        font-size: 0.8rem;
        padding: 0px !important;
        border: solid;
        border-width: 0.1rem;
        border-color: $colorGrisClaro;

        .card__items {
            display: grid;
            padding-inline: 1rem !important;
            grid-template-columns: 1fr 1fr;
        }

        .spotify {
            color: #1ED760 !important;
        }

        i {
            font-size: 1.2rem;
            color: $colorPrincipal;

        }

        p {

            color: $colorGris !important;
        }

        .card__servicios__titulo {
            color: #fff;
            padding: 1rem;
            background-color: $colorPrincipal;
            border-top-left-radius: 7px !important;
            border-top-right-radius: 7px !important;
        }

        .card__servicios__precio {

            display: flex;
            justify-content: center;

            p {
                font-size: 2.5rem;
                margin: 0px;
                font-weight: 400 !important;
                color: $colorGris !important;
            }
        }


        .card__servicios__titulo,
        .card__servicios__parrafo {
            margin-bottom: 15px;
        }

        button {
            margin: 2rem;
        }
    }
}