$colorPrincipal: #009CDE;
$colorSecundario: #020097;
$colorTerciario: #333333;
$colorGris: #535461;
$colorGrisClaro: #a0a0a0;
$colorFooter: hsl(211, 10%, 61%) !important;
$colorBorderGrey: #e0eaef;
$colorBorderNavbar: #d6d6d6;