* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
body h1, body h2, body h3 {
  font-weight: 600;
}
body .activo {
  color: #009CDE !important;
}
body main {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 63.4px;
}
body .titulo {
  text-align: center;
  margin-block: 10rem 4rem;
}
body .titulo h3 {
  color: #535461 !important;
}
body p {
  font-weight: 600 !important;
  color: #535461 !important;
}
body form .form__button {
  display: flex;
  justify-content: end;
}
body .boton {
  width: 150px;
  color: #fff;
  font-weight: 600;
  background-color: #009CDE;
  padding: 10px;
  border-radius: 7px;
}
body .boton:hover {
  background-color: #fff;
  color: #009CDE;
  border: solid;
  border-width: 0.1rem;
  border-color: #009CDE;
}

nav {
  background-color: #FFF !important;
  font-weight: 600;
  border-bottom: solid;
  border-width: 0.1rem;
  border-color: #d6d6d6;
  font-family: "Roboto", sans-serif;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  z-index: 100;
  padding-inline: 20px;
}
nav a, nav i {
  color: #535461 !important;
}
nav a:hover {
  color: #009CDE !important;
}
nav i:hover {
  color: #009CDE !important;
}
nav i {
  color: white;
  transition: 1s;
}
nav .navbar-nav {
  color: #009CDE !important;
}
nav .navbar-logotipo {
  height: 2.5rem;
  margin: 0.2rem;
}
nav .navbar-isotipo {
  height: 3.5rem;
  margin: 0.2rem;
}
nav #navbarNav {
  justify-content: end;
}
nav #navbarNav .menu {
  gap: 1rem;
  justify-content: center;
}

footer {
  display: flex;
  padding: 2rem;
  margin-top: 80px;
  color: hsl(211, 10%, 61%) !important;
  font-size: 10px;
  font-weight: 600px !important;
  text-align: center;
}
footer a {
  color: hsl(211, 10%, 61%);
  transition: 0.5s;
}
footer a:hover {
  color: #535461;
}
footer p {
  margin: 0px !important;
  color: hsl(211, 10%, 61%) !important;
}
footer .footer-redes {
  font-size: 2rem;
  margin-left: 10px;
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copy img {
  width: 9rem;
}

.banner {
  height: 100vh;
  background: linear-gradient(337deg, rgb(55, 205, 224) 20%, rgb(0, 97, 177) 100%);
  display: flex;
  align-items: center;
  color: #fff;
  gap: 2rem;
}
.banner h1 {
  font-weight: 400;
}
.banner .btn-color {
  background-color: #18608C !important;
  color: #fff !important;
}
.banner .btn-color:hover {
  background-color: #104261 !important;
}

.section {
  overflow: hidden;
}
.section .section_content {
  margin-block: 12rem;
}
.section .section_content .item {
  padding: 6rem;
}
.section .section_content .img {
  height: 400px;
}
.section .section_content .main-texto {
  display: flex;
  align-items: center;
}

.ayuda__contacto {
  gap: 3rem;
}
.ayuda__contacto .contacto__medios {
  border: solid;
  border-radius: 10px;
  border-color: #009CDE !important;
  border-width: 0.2rem;
  padding: 2rem;
  box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.288);
}

form {
  font-weight: 500;
}

.cards__servicios {
  gap: 1rem;
  --bs-gutter-x: 0 !important;
}
.cards__servicios .card__servicios {
  border-radius: 7px;
  font-size: 0.8rem;
  padding: 0px !important;
  border: solid;
  border-width: 0.1rem;
  border-color: #a0a0a0;
}
.cards__servicios .card__servicios .card__items {
  display: grid;
  padding-inline: 1rem !important;
  grid-template-columns: 1fr 1fr;
}
.cards__servicios .card__servicios .spotify {
  color: #1ED760 !important;
}
.cards__servicios .card__servicios i {
  font-size: 1.2rem;
  color: #009CDE;
}
.cards__servicios .card__servicios p {
  color: #535461 !important;
}
.cards__servicios .card__servicios .card__servicios__titulo {
  color: #fff;
  padding: 1rem;
  background-color: #009CDE;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.cards__servicios .card__servicios .card__servicios__precio {
  display: flex;
  justify-content: center;
}
.cards__servicios .card__servicios .card__servicios__precio p {
  font-size: 2.5rem;
  margin: 0px;
  font-weight: 400 !important;
  color: #535461 !important;
}
.cards__servicios .card__servicios .card__servicios__titulo,
.cards__servicios .card__servicios .card__servicios__parrafo {
  margin-bottom: 15px;
}
.cards__servicios .card__servicios button {
  margin: 2rem;
}

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__login {
  display: flex;
  align-items: center;
  color: #fff;
  background: rgb(0, 205, 233);
  background: linear-gradient(140deg, rgb(0, 205, 233) 38%, rgb(0, 95, 173) 100%);
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.301);
  gap: 2rem;
}
.card__login form {
  background-color: #fff;
  box-shadow: 4px 4px 14px -6px rgba(0, 0, 0, 0.301);
  color: #333333;
  border-radius: 10px;
  padding: 2rem;
}
.card__login form .login__button,
.card__login form .register__button {
  margin: 0.3rem !important;
}
.card__login .forgot_password_user {
  text-align: center;
  margin-bottom: 1rem;
}
.card__login .forgot_password_user a {
  color: #333333 !important;
  margin-inline: 0.2rem;
}

.nosotros__info h3 {
  margin-top: 2rem;
}

.cards__nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}
.cards__nosotros .card__nosotros {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.cards__nosotros .card__nosotros .card__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "image title title" "image cargo cargo" "paragraph paragraph paragraph";
  grid-gap: 10px;
  padding: 10px;
}
.cards__nosotros .card__nosotros .card__content .card__nosotros__imagen {
  grid-area: image;
  width: 100px;
  border-radius: 50%;
}
.cards__nosotros .card__nosotros .card__content .card__nosotros__h4 {
  grid-area: title;
}
.cards__nosotros .card__nosotros .card__content .card__nosotros__parrafo {
  grid-area: paragraph;
}
.cards__nosotros .card__nosotros .card__content .card__nosotros__cargo {
  grid-area: cargo;
}

@media screen and (max-width: 768px) {
  .section .text-2 {
    order: 2 !important;
  }
  .section .img-2 {
    order: 1 !important;
  }
  .section .section_content {
    text-align: center !important;
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  .btn-color {
    background-color: #242F73 !important;
  }
}
@media screen and (min-width: 768px) {
  .login_titulo_min_990 {
    display: none;
  }
  .forgot_password_user {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .card__login {
    margin-inline: 0.01rem !important;
  }
  .card__login .forgot_password_user {
    font-size: 15px;
  }
  .card__login .forgot_password_user button {
    width: 7rem !important;
    font-size: 13px;
    margin-block: 0.2rem !important;
  }
  .card__login .login_titulo_max_990 {
    display: none;
  }
  .card__login .login_titulo_min_990 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .cards__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .cards__nosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .cards__nosotros {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  footer {
    justify-content: space-between;
  }
  footer p {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex !important;
    flex-direction: column;
  }
  .redes {
    margin-bottom: 1rem;
    order: 1 !important;
  }
  .redes .footer-redes {
    margin-inline: 15px;
    font-size: 2.5rem !important;
  }
  .copy {
    order: 2 !important;
  }
}
@media screen and (max-width: 991px) {
  .card__servicios {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 991px) {
  .card__servicios {
    text-align: center;
  }
  .card__servicios .card__items {
    grid-template-columns: 1fr !important;
  }
  .card__servicios .card__servicios__precio p {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 991px) {
  .navbar-logotipo {
    display: none;
  }
  .navbar {
    padding-inline: 0px;
  }
  .navbar-nav {
    text-align: center;
  }
  .nosotros__info .nosotros__info__mision,
  .nosotros__info .nosotros__info__vision {
    margin-block: 1rem;
  }
}
@media screen and (min-width: 991px) {
  .navbar-logo {
    padding-left: 0.2rem;
  }
}
@media screen and (max-width: 991px) {
  .contacto__medios {
    text-align: center;
  }
  .titulo_preguntas {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */