<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="../templates/index.html"><img class="logo-navbar" src="../img/logo-logo.png" alt=""></a>
            </div>
            <ul class="menu">
                <li><a class="menu__item" href="../templates/index.html">Inicio</a></li>
                <li><a class="menu__item" href="../templates/servicios.html">Servicios</a></li>
                <li><a class="menu__item" href="../templates/nosotros.html">Nosotros</a></li>
                <li><a class="menu__item" href="../templates/contacto.html">Contacto</a></li>
            </ul>
            <ul>
                <li><a class="menu__item" href="../templates/login.html">Iniciar Sesión <i
                            class="bi bi-arrow-right-square"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="titulo">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <h3>Lorem ipsum dolor sit amet <br /> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    </div>

    <main>
        <div class="cards__servicios">
            <div class="card__servicios">
                <img class="card__servicios__imagen" src="../img/servicios/servicios.jpg" alt="">
                <h3 class="card__servicios__titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p class="card__servicios__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                    quisquam! Molestiae consequatur maxime consequuntur in adipisci voluptatem, fugit, asperiores magnam
                    illum voluptatibus, excepturi itaque ut delectus quod esse possimus dolores?</p>
                <button class="card__servicios__boton">Ver más</button>

            </div>
            <div class="card__servicios">
                <img class="card__servicios__imagen" src="../img/servicios/servicios.jpg" alt="">
                <h3 class="card__servicios__titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p class="card__servicios__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                    quisquam! Molestiae consequatur maxime consequuntur in adipisci voluptatem, fugit, asperiores magnam
                    illum voluptatibus, excepturi itaque ut delectus quod esse possimus dolores?</p>
                <button class="card__servicios__boton">Ver más</button>


            </div>
            <div class="card__servicios">
                <img class="card__servicios__imagen" src="../img/servicios/servicios.jpg" alt="">
                <h3 class="card__servicios__titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p class="card__servicios__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                    quisquam! Molestiae consequatur maxime consequuntur in adipisci voluptatem, fugit, asperiores magnam
                    illum voluptatibus, excepturi itaque ut delectus quod esse possimus dolores?</p>
                <button class="card__servicios__boton">Ver más</button>
            </div>
        </div>
        <footer>
            <div>
                <img class="footer-logo" src="../img/logo-logo.png" alt="">
                <p>Logo ©2023 - Todos los derechos reservados</p>
            </div>
            <div">
                <a href="" class="footer-redes"><i class="bi bi-facebook"></i></a>
                <a href="" class="footer-redes"><i class="bi bi-twitter"></i></a>
                <a href="" class="footer-redes"><i class="bi bi-instagram"></i></a>
                </div>
        </footer>

</body>

</html>